<nav class="navbar navbar-expand-lg navbar-light bg-white flex-row border-bottom shadow">
    <div class="container-fluid">
        <a class="navbar-brand mx-lg-1 mr-0" href="/">
        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
            <g>
            <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
            <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
            <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
            </g>
        </svg>
        </a>
        <button class="navbar-toggler mt-2 mr-auto toggle-sidebar text-muted">
            <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <div class="navbar-slide bg-white ml-lg-4" id="navbarSupportedContent">
            <a href="#" class="btn toggle-sidebar d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="ml-lg-2"><i class="fe fe-home fe-16"></i> Home</span>
                    </a>
                </li>
            </ul>
        </div>
        <form class="form-inline ml-md-auto d-none d-lg-flex searchform text-muted">
        <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
        </form>
        <ul class="navbar-nav d-flex flex-row">
        <% if(isAuthenticated) { %>
            <li class="nav-item dropdown">
                <a href="/dashboard" class="nav-link">
                    <span class="ml-lg-2"><i class="fe fe-shopping-bag fe-16"></i> Dashboard</span>
                </a>
            </li>
        <% } else { %>
            <li class="nav-item dropdown">
                <a href="/login" class="nav-link">
                    <span class="ml-lg-2"><i class="fe fe-log-in fe-16"></i> Login</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="/register" class="nav-link">
                    <span class="ml-lg-2"><i class="fe fe-user-plus fe-16"></i> Register</span>
                </a>
            </li>
        <% } %>
        </ul>
    </div>
</nav>
<script src='/js/jquery.mask.min.js'></script>